<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <h3>Add New Store</h3>

      <form action="/add_store" method="post">
        <div class="form-group">
          <label for="name" class="form-label">Store:</label>
          <input type="text" name="name" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-success">Add Store</button>
      </form>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <% if @stores.any?() %>
      <h3>Here are your stores:</h3>

      <form action="/delete_store" method="post">
      <input type="hidden" name="_method" value="delete">
      <% @stores.each() do |store| %>
        <div class="checkbox">
          <label>
            <input type="checkbox" name="store_ids[]" value="<%= store.id() %>"> <a href= "add_shoes_to_store/<%= store.id %>"><%= store.name %></a>
          </label>
        </div>
      <% end %>

        <button type="submit" class="btn btn-danger">Delete Selected Stores</button>
      </form>

    <% else %>

        <p>There are currently no stores!</p>
    <% end %>
    </div>
    <br>
    <div class="go home">
      <a href="/">Return To Homepage</a>
    </div>
  </div>
</div>
