<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <h3>Add New Shoe Brand</h3>

      <form action="/add_shoes" method="post">
        <div class="form-group">
          <label for="make" class="form-label">Shoe Brand:</label>
          <input type="text" name="make" class="form-control">
          <label for="price" class="form-label">Shoe Price:</label>
          <input type="number" name="price" class="form-control">
        </div>
        <button type="submit" class="btn btn-success">Add Shoes</button>
      </form>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <% if @brands.any?() %>
      <h3>Here are your Shoe Brands:</h3>
      <form action="/delete_brand" method="post">
      <input type="hidden" name="_method" value="delete">
      <% @brands.each() do |brand| %>
        <div class="checkbox">
          <label>
            <input id='shoeID' type="checkbox" name="brand_ids[]" value="<%= brand.id() %>"><%= brand.make %> $<%= '%.02f' % brand.price%>
          </label>
        </div>
      <% end %>
        <button type="submit" class="btn btn-danger">Delete Shoes</button>
      </form>
    <% else %>
        <p>There are currently no shoe brands</p>
    <% end %>
    </div>
    <br>
    <div class="go home">
      <a href="/">Return To Homepage</a>
    </div>
  </div>
</div>
