<h1> <%= @store.name %> </h1>

 <h3> Current Stock: </h3>
 <ul>
 <% if @store.brands.any? %>
   <% @store.brands.each do |brands| %>
     <li><%= brands.make %> $<%='%.02f' % brands.price %></li>
   <%end%>
   </ul>
   <% else %>
       <h3> Currently no brands for this store </h3>
   <% end %>
