<div class = "card">
  <h1>Looks like something went wrong!</h1>
  <h4>These could be one of your problems</h4>
  <ul>
    <li>Make sure you checked a check box before submitting</li>
    <li>Double Check That Nothings Blank Before Submitting</li>
  </ul>
  <a href="/">Return To Homepage</a>
</div>
